/* Header */
.header {
  width: 100%;
  background-color: #fffefe;
  border-bottom: 1px solid #f13434;
  font-family: Arial, sans-serif;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1px 40px 10px 40px;
}


.logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

/* SEARCH CONTAINER */
.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
  height: 35px;
}

/* SEARCH BAR */
.search-bar {
  flex: 1;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  height: 100%;   
  outline: none;
}

/* SEARCH BUTTON */
.search-btn {
  background-color: #e63946; 
  border: none;
  color: white;            
  font-size: 18px;
  padding: 0 18px;          
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;  
  border-radius: 4px;          
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #c91d2b;
}

/* HEADER ICONS */
.header-icons a {
  margin-left: 17px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.header-icons a:hover {
  color: #007bff;
}

.header-icons a i {
  margin-right: 6px;
color: #e92828;
}


/* NAV MENU */
.nav-menu {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 10px 0;
}

.nav-menu a {
    font-family: Lato, sans-serif;
  margin: 0 15px;
  text-decoration: none;
  color: #0a0a0a;
  font-weight: 500;
 font-size: 13px;
}

.nav-menu a:hover {
  color: #007bff;
}
