<header class="header">
  <!-- TOP BAR -->
  <div class="top-bar">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="VSNV Logo" class="logo" />
    </a>

    <div class="search-container">
      <input type="text" class="search-bar" placeholder="Search for books..." />
      <button class="search-btn">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <!-- this is the header icon with counter -->
    <div class="header-icons">
      <a routerLink="login">
        <i class="fa-regular fa-circle-user"></i> My Account
      </a>

      <a href="#" class="icon-wrapper">
        <i class="fa fa-heart" style="color: #e63946"></i>
        <span class="counter">0</span>
      </a>

      <a routerLink="addTocart" class="icon-wrapper">
        <i class="fa fa-shopping-cart" style="color: #e63946"></i>
        <span class="counter">0</span>
      </a>
    </div>
  </div>

  <!-- NAVIGATION BAR -->
  <nav class="nav-menu">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="booksDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Books
      </a>
      <ul class="dropdown-menu" aria-labelledby="booksDropdown">
        <li>
          <a class="dropdown-item" routerLink="/category/Sports">Sports</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/category/Comedy">Comedy</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/category/Marvel">Marvel</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/category/Horror">Horror</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/category/Children">
            Children's Books
          </a>
        </li>
      </ul>
    </li>

    <a routerLink="arrival">New Arrivals</a> |
    <a routerLink="box-set">Box Sets</a> |
    <a routerLink="bestseller">Bestsellers</a> |
    <a routerLink="fiction-books">Fiction Books</a> |
    <a routerLink="awardwinner">Award Winners</a> |
    <a routerLink="todaysdeal">Today's Deal</a> |
    <a routerLink="requestbook">Request a Book</a>
  </nav>
</header>
