:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Outer container */
.book-details-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 90%;
  transition: transform 0.3s ease;
}

.book-details-container:hover {
  transform: translateY(-5px);
}

/* Image section */
.book-image img {
  width: 280px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Book info */
.book-info {
  flex: 1;
}

.book-info h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 15px;
}



.book-info p {
  font-size: 1.1rem;
  margin: 8px 0;
  color: #414141;
}

.book-info p b {
  color: #000;
}

/* Description styling */
.description {
  margin-top: 15px;
  line-height: 1.6;
  color: #444;
}
.rating {
  color: #8c30f4; /* yellow-gold */
  font-weight: 600;
}


/* Button */
button {
  margin-top: 25px;
  background: #2539f3;
  color: white;
  border: none;
  padding: 17px 30px    ;
  justify-content: space-between;

  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background: red;
}

/* Not found section */
.not-found {
  text-align: center;
  margin-top: 100px;
}

.not-found h3 {
  color: #1d1b1b;
  margin-bottom: 15px;
}

.space{
margin-right: 29px;

}

