<footer class="footer">
  <!-- Quick Links -->
  <div class="footer-links">
    <a routerLink="/arrival">New Arrivals</a> |
    <a routerLink="/bestseller">Bestsellers</a> |
    <a routerLink="/fiction-books">Fiction Books</a> |
    <a routerLink="/awardwinner">Award Winners</a>
  </div>

  <!-- Contact -->
  <div class="footer-contact">
    <p>
      Email:
      <a href="vaishnavduttdubeygmail.com"
        >support:vaishnavduttdubeydubey.com</a
      >
    </p>
    <p>Phone: +91 80908 16999</p>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>&copy; 2025 VSNV Bookstore | All Rights Reserved.</p>
  </div>
</footer>
